body {
  background-image: url('https://i.postimg.cc/fy75Yj6c/bg-714-1211457-6323.jpg');
  background-size: cover;       /* fills screen */
  background-position: center;  /* center the image */
  background-repeat: no-repeat; /* no tiling */
  margin: 0;                    /* remove default body margin */
  overflow-x: hidden;           /* prevent horizontal scrolling */
}
.heading {
  color: Black;
  text-align: center;
  font-family: monserrat, Sans-Serif;
  font-size: 10vw;
  margin: 20px
}
.ninja {
  width: 80%;       /* scales with screen width */
  max-width: 100%;
  height: auto;     /* maintain aspect ratio */
  display: block;
  margin: 30px auto; /* centers image horizontally */
  border: solid red;
  border-radius:8px;
}
button {
  display: block;
  margin: 30px auto; /* centers button horizontally */
  width: 15%;
  height: 5%;
  border-radius: 5px;
  border: none;
  color: red;
  background-color: white;
  font-size: 26px;
}
